body {
  background-color: #FFFFFF;
  margin-top: 30px;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 12px;
}

.logo {
  width: 150px;
}

.nav {
  width: calc(100% - 280px);
  text-align: center;
}

.nav,
.logo,
.login {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.list {

  list-style: none;
  padding: 0;
  margin: 0;
}
.list a{
  text-decoration: none;
  color:#3D3D3D;
}
.list li {
  display: inline-block;
  margin: 0 15px;

}

.list a:hover {
color: #46A358;
font-weight: 800;
font-size: 20px;
}

.login {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #46A358;
  color: #fff;
  border-radius: 16px;
  text-align: center;
  padding: 12px 0 0 0;
  text-decoration: none;

}
.login:hover{
  background-color: #40d45d;
}

.btn-main {
  width: 140px;
  height: 40px;
  border-radius: 6px;
  color: #fff;
  background-color: #46A358;
  text-align: center;
  padding: 16px 11px 17px 9px ;
  font-weight: 700;
  text-decoration: none;
}

.btn-main:hover{
  background-color: rgb(4, 252, 169);
  color: #000000;
}

.into,
.img {
  display: inline-block;
  vertical-align: middle;
margin-right: 82px;
}

.main-section {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome {
  font-size: 20px;
  color: #3D3D3D;
}

.head-text {
  font-size: 70px;
  font-weight: 900;

}

.main-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 55px;
}

.Mark {
  font-size: 70px;
  font-weight: 900;
  color: #46A358;
}



button {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
}

form {
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

p {
 text-align: center;
  margin-top: 40px;
}

button>span {

  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0%;
}

div>span {
 display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;

}

.choice {
  display: flex;
  justify-content: space-around;

}

.sing_with {
  display: inline-block;
 text-align: center;
}