@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  font-size: 25px;
  content: "\e904";
  color: #46A358;
}

.icon-heart-o:before {
  content: "\e901";
}

.icon-navigate_next:before {
  content: "\e902";
}

.icon-tel_icon:before {
  content: "\e903";
  padding-right: 5px;
}

.icon-mail_icon:before {
  content: "\e909";
  padding-right: 5px;
}

.icon-gps_icon:before {
  content: "\e905";
}

.icon-log-out:before {
  content: "\e906";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-basket:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-copyright:before {
  content: "\e90a";
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-width: 375px;
}

body {
  background-color: #FFFFFF;
  margin-top: 30px;
  font-family: "Cera pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

/* Header style */
.container {
  max-width: 1200px;
  margin: 0 auto 12px;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 0.3px solid #46A35880;
}

.btn {
  display: flex;
  background-color: #46A358;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #40d45d;
  transition: 0.3s linear;
}

.logo {
  width: 150px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-left: 0;
}

.list_item {
  position: relative;
}

.list_item .active::after,
.list>li::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 0;
  background: #1A712A;
  transition: width 0.3s linear;
}

.list>li:hover::after,
.list_item .active::after {
  width: 100%;
}

.first_menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 190px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  padding-top: 16px;
}

.first_menu li {
  background-color: #EDF6EE;
}

.first_menu a {
  display: block;
  padding: 5px;
}

.first_menu>li:hover .second_menu {
  opacity: 1;
  visibility: visible;
}

.first_menu li:has(.second_menu)::after {
  font-family: 'icomoon' !important;
  display: inline-block;
  content: "\e902";
  font-size: 25px;
  line-height: 1;
  position: absolute;
  right: 13px;
  top: 78%;
  transition: transform 0.2s linear;
}

.first_menu li:has(.second_menu):hover::after {
  color: #fff;
  top: 80%;
  transform: rotate(180deg);
}

.item_menu {
  position: relative;
}

.list_item:hover .first_menu {
  opacity: 1;
  visibility: visible;
}

.second_menu {
  position: absolute;
  list-style: none;
  width: 180px;
  left: 100%;
  top: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  padding-top: 16px;
  padding-left: 1px;
}

.second_menu li {
  background-color: #EDF6EE;
}

.second_menu li:hover>a {
  background-color: #1A712A;
  color: #FFFFFF;
  font-weight: 700;
}

.list a {
  color: #3D3D3D;
  text-decoration: none;
}

.list a:hover {
  color: #46A358;
}

.bg_item:hover>a {
  font-weight: 700;
  background-color: #1A712A;
  color: #fff;
}

.login {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #46A358;
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px 7px 30px;
}

.login_container i {
  font-size: 0;
  letter-spacing: 0;
}

.login_container i::before {
  font-size: 20px;
}

.burger_menu {
  display: none;
}

/* Main style */
.main-section {
  /* width: 100%; */
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.into {
  width: 60%;
  padding-left: 40px;
  padding-bottom: 85px;
  padding-top: 68px;
  padding-right: 10%;
}

.main {
  width: 140px;
  padding: 10px 26px 10px 26px;
  border-radius: 6px;
  background-color: #46A358;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}


.welcome {
  margin: 0;
  width: 200px;
  font-size: 14px;
  color: #3D3D3D;
  text-transform: uppercase;

}

.head-text {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 1;
}

.mark {
  color: #46A358;
}

.main-paragraph {

  font-size: 14px;
  color: #727272;
  margin-bottom: 44px;
  line-height: 24px;
}


/* registration - login  style */

.registr-btn {
  display: inline-block;
  width: 300px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  border-color: #46A358;
  border-style: none;
  padding: 8px 30px 8px 30px;
}

.registr-btn>span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.choice a {
  text-decoration: none;
  color: #40d45d;
  font-size: 16px;
  font-weight: 500;
}

.login-btn {
  display: inline-block;
  width: 300px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  border-color: #46A358;
  border-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.registr-p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  color: #3D3D3D;
}

.login-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #46A358;
}

.registr-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #46A358;
}

.choice {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.sing_with {
  display: flex;
  justify-content: center;
  gap: 80px;

}

.sing_with a {
  text-decoration: none;
  color: #3D3D3D;
  font-size: 20px;
  font-weight: 500;
}

.sing_with a:hover {
  color: #1A712A;
}

/* float style */
.second_section {
  display: flex;
  justify-content: space-between;
}

.categories_container {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  width: 310px;
  flex-shrink: 0;
}

.product {
  position: relative;
  width: 33.33%;
  padding: 0px 15px 15px 15px;

}

.product_container {
  flex-grow: 1;
  padding-left: 50px;
}

.product-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.filter_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 38px;
  padding-left: 5px;
}

.categories_list {
  position: relative;
  list-style: none;
  padding: 0;

}

.categories_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
}

.categories_list a:hover {
  color: #1A712A;
}

.filter_list {
  display: flex;
  gap: 38px;
  list-style: none;
  padding: 0;
}

.filter_item {
  position: relative;
}

.filter_item .active::after,
.filter_list>li::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  background-color: #1A712A;
  transition: width 0.3s linear;
}

.filter_list>li:hover::after,
.filter_item .active::after {
  width: 100%;
}



.filter_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}



.select_box {
  display: flex;
  align-items: center;

}

.select_box p {
  margin-bottom: 0;
}

.select_box select {
  border-color: #FFFFFF;
}

.list_icon {
  /* display: flex;
  list-style: none;
  gap: 10px;
  position: absolute;
  top: 230px;
  left: 60px;
  display: none;
  padding: 0;
  margin: 0 auto; */

  position: absolute;
  gap: 10px;
  left: 50%;
  top: 87%;
  transform: translateX(-50%);
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;

}

.list_icon a {
  text-decoration: none;
  color: #3D3D3D;
}

.list_icon a:hover {
  color: #46A358;
}

.list_icon li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: #fff;
}

.list_icon li img {
  width: 20px;

}

.list_icon i {
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
}

.list_icon i::before {
  font-size: 20px;
}

.product:hover .list_icon {
  display: flex;
  align-items: center;
}

.procent_discount {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #46A358;
  padding: 5px;
  top: 14px;
  left: 16px;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #46A358;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.product:hover::after {
  width: 89%;
}

.product img {
  background: #c2abf2;
  display: block;
  margin: 0 auto;
}

.protuct_item_text {
  padding-top: 10px;
  font-size: 16px;
  line-height: 16px;
}

.product_item_price {
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
}

.product_item_price::before {
  content: "$";
}

.product_box {
  position: relative;
}

.page_list {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  list-style: none;
  padding-left: 0;
}

.page_list i {
  font-size: 0;
  letter-spacing: 0;
}

.page_list i::before {
  font-size: 20px;
}

.page_list li {
  display: flex;
  color: #3D3D3D;
  font-weight: 300;
  font-size: 18px;
}

.page_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3D3D3D;
}

.page_list a:hover {
  background-color: #40d45d;
  color: #fff;
  transition: 0.2s linear;
}

.page_item {

  width: 35px;
  height: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.page_item.active {
  background-color: #46A358;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  pointer-events: none;
}

.sales_picture {
  margin-top: auto;
  max-width: 370px;
}

.sales_link {
  text-decoration: none;
}

/* our post blogs */

.third_section {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}

.plants_blog {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  padding: 37px 35px 47px 0px;
}

.blog_picture {
  width: 45%;
}

.blog_picture img {
  margin-top: -102px;
}

.blog_info {
  text-align: right;
  flex-grow: 1;
  width: 65%;
}

.blog_info_head {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #3D3D3D;
  line-height: 1.2;
  margin-top: 0;
}

.blog_info_text {
  flex-direction: row-reverse;
  font-size: 14px;
  color: #727272;
  line-height: 1.5;
}

.find_more {
  width: 140px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 11px 28px;
}

.find_more_container i {
  font-size: 0;
  letter-spacing: 0;
}

.find_more_container i::before {
  font-size: 18px;
}



.find_more span {
  display: flex;
  flex-direction: row-reverse;
}

/* Our blog posts */

.posts_card {
  background: #FBFBFB;
  width: calc(25% - 23px);
}

.posts_card img {
  width: 287px;
}

.card_text {
  width: 100%;
  padding: 0px 9px 11px 12px;
}

.our_blog_header {
  width: 100%;
  text-align: center;
}

.our_blog_head {
  font-size: 30px;
  color: #3D3D3D;
}

.our_blog_text {
  font-size: 14px;
  color: #727272;
}

.read_more {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: #3D3D3D;
  text-decoration: none;
  font-weight: 500;
}

.read_more i {
  font-size: 0;
  letter-spacing: 0;
}

.read_more i::before {
  font-size: 20px;

}


.post_date {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #46A358;
}

.our_card_head {
  font-size: 20px;
  color: #3D3D3D;
}

.our_card_text {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}

.read_more:hover {
  color: #46A358;
}

.our_blog_container {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.find_more_container {
  display: flex;
  justify-content: flex-end;
}

/* footer */
.footer_box {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  margin-bottom: 0;
}

.footer_list {
  display: flex;
  list-style: none;
  flex-grow: 1;
  max-width: 846px;
  padding-left: 15px;
}

.footer_text {
  font-size: 14px;
  color: #727272;
}

.footer_header {
  font-size: 17px;
  color: #3D3D3D;
}

.footer_plant {
  padding-top: 103px;
  padding-right: 30px;
  margin-right: 30px;
  background-size: auto 93px;
  background-repeat: no-repeat;
}

.item1 {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
  background-image: url(../img/footer_plant1.svg);
}

.item2 {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
  background-image: url(../img/footer_plant2.svg);

}

.item3 {
  background-image: url(../img/footer_plant3.svg);
}

.footer_form {
  display: flex;
  width: 100%;
  gap: 18px;
  margin-top: 38px;
  margin-bottom: 24px;
}

.input_btn_box {
  display: flex;
  width: 100%;
}

.input_btn_box input {
  padding: 0;
  background-color: #FFFFFF;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: none;
  padding: 10px 54px 12px 11px;
}

.footer_form label {
  font-weight: 700;
  font-size: 18px;
  color: #3D3D3D;
  line-height: 16px;
}

.newsletter {
  margin-top: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  width: 85px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 25px 10px 27px;
  border: #46A358;
  cursor: pointer;
}

.footer_gradient {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
  align-items: center;
  padding: 33px 25px;
}

.footer_gradient i {
  font-size: 0;
  letter-spacing: 0;
}

.footer_gradient i::before {
  font-size: 20px;
}

.footer_gradient a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3D3D3D;
  font-size: 14px;
}

.footer_gradient a:hover {
  color: #1A712A;
}

.footer_gradient img {
  display: flex;
  align-items: center;
}



.footer_gradient address {
  display: flex;
  font-style: normal;
  align-items: center;
  font-size: 14px;
  color: #3D3D3D;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #FBFBFB;
  border-bottom: 1px solid #46A35833;
  padding-left: 15px;
}

.footer_info {
  display: flex;
  padding-left: 15px;
  gap: 130px;
}

.footer_menu {
  width: 140px;
}

.footer_menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_menu_header {
  font-size: 18px;
  color: #3D3D3D;
  margin-top: 33px;

}

.footer_menu_list a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #3D3D3D;
  line-height: 30px;
}

.footer_menu_list a:hover {
  text-decoration: underline;
  color: #46A358;
  transition: 0.2s linear;
}

.footer_social {
  width: 224px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 35px;
  margin-top: 10px;
}

.social_media {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer_social h3 {
  text-align: center;
  color: #3D3D3D;
}

.social_media_list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.social_media_list li {
  text-align: center;
  border: 1px solid #46A35833;
  border-radius: 6px;
  padding: 7px 7px;
}

.social_media_list a {
  color: #3D3D3D;
  text-decoration: none;
}

.social_media_list a:hover {
  color: #46A35899;
  transition: 0.2s linear;
}

.social_media_list i {
  font-size: 0;
  letter-spacing: 0;
}

.social_media_list i::before {
  font-size: 20px;
}

.copyrights {
  font-size: 14px;
  color: #3D3D3D;
  text-align: center;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.preloader.loaded {
  display: none;
}

.preloader:before,
.preloader:after {
  content: "";
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#46A358 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side, #000 95%, #0000) 30%/80px 80px no-repeat #bdbdbd;
  animation: 3s infinite;
  animation-name: l8-1, e8-2;
}

@keyframes l8-1 {

  0%,
  40%,
  100% {
    background-size: 100% 40%, 16px 16px
  }

  50%,
  80% {
    background-size: 100% 0%, 32px 32px
  }
}

@keyframes l8-2 {

  0%,
  50% {
    background-position: top, 50% 50%
  }

  60%,
  65% {
    background-position: top, 70% 50%
  }

  70%,
  75% {
    background-position: top, 30% 50%
  }

  90%,
  100% {
    background-position: top, 50% 50%
  }
}

@media (max-width:1200px) {
  .wrapper {
    margin: 0 10px;
  }

}

@media (max-width:1024px) {
  .head-text {
    font-size: 50px;
  }

  /* main */
  .product_container {
    padding-left: 0;
  }

  .protuct_item_text {
    font-size: 15px;
  }

  .product_item_price {
    font-size: 16px;
  }

  .filter_menu {
    margin-bottom: 25px;
  }

  .categories_container {
    display: none;
  }

  .blog_picture img {
    margin-top: 0;
  }


  /* footer */
  .footer_header {
    font-size: 15px;
  }

  .footer_form label {
    font-size: 16px;
  }

  .footer_text {
    font-size: 12px;
  }

  .footer_gradient address {
    font-size: 12px;
  }

  .footer_gradient a {
    font-size: 10px;
  }


}

@media (max-width:979px) {
  .footer_info {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .footer_social {
    width: 100%;
    align-items: center;
  }
}

@media (max-width:890px) {
  .our_card_head {
    font-size: 16px;
  }

  .our_card_text {
    line-height: 1.2;
  }

  .post_date {
    font-size: 12px;
  }

  .footer_box {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (max-width:860px) {
 

  .footer_gradient img {
    width: 130px;
  }
}

@media (max-width:785px) {
  .footer_gradient{
    flex-direction: column;
    gap: 30px;
  }
}

@media(max-width:768px) {

  /* header */
  .header {
    padding-bottom: 5px;
  }

  .logo {
    margin: auto;
  }

  .burger_menu {
    display: block;
    margin-left: 10px;
    z-index: 4;
  }

  .list {
    margin: 0;
    padding: 5px;
    background: #c3e9ca;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 260px;
    padding-top: 50px;
    transition: transform 0.2s linear;
    transform: translateX(120%);
    z-index: 3;

  }

  .list.active {
    transform: translateX(0);
  }

  .list_item {

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .list_item a {
    padding: 10px;
    display: block;
  }

  /* main  */
  .into {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .head-text {
    font-size: 40px;
    margin-left: 0;
  }

  /* second section */
  .filter_menu {
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
  }

  .select_box {
    margin-left: auto;
  }

  .protuct_item_text {
    margin-bottom: 5px;
  }

  /* our blog */
  .our_blog_container {
    margin-bottom: 30px;
  }

  .posts_card {
    width: calc((100% - 24px) / 2);
    text-align: center;
  }

  .read_more {
    padding-left: 18px;
    font-size: 14px;
  }

  .blog_picture {
    width: 50%;
  }

  .our_blog_head {
    font-size: 25px;
  }

  .our_card_head {
    font-size: 16px;
  }

  .our_card_text {
    font-size: 12px;
  }

  .post_date {
    font-size: 12px;
  }

  /* footer */
  .footer_form {
    padding-left: 25px;
  }

  .footer_list {
    padding-left: 25px;
    flex-wrap: wrap;
  }

  .footer_plant {
    padding-left: 103px;
    padding-top: 30px;
    margin-right: 30px;
    background-size: auto 83px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .footer_header {
    font-size: 17px;
  }

  .footer_text {
    font-size: 14px;
  }

  .footer_gradient address {
    font-size: 12px;
  }

  .footer_gradient a {
    font-size: 12px;
  }

  .footer_gradient i::before {
    font-size: 15px;
  }

  .footer_menu_header {
    font-size: 15px;
  }

  .footer_menu_list a {
    font-size: 12px;
  }

  .social_media h3 {
    font-size: 15px;
    margin-top: 17px;
  }

  .payments h3 {
    color: #3D3D3D;
    font-size: 15px;
  }
}

@media (max-width:700px) {
  .filter_menu {
    justify-content: center;
  }

  .select_box p {
    font-size: 12px;
  }

  .select_box select {
    font-size: 12px;
  }

  .blog_info_head {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .blog_info_text {
    font-size: 12px;
    line-height: 1.2;
  }

}

@media (max-width:640px) {

  /* main img */
  .img {
    display: none;

  }

  .into {
    width: 100%;
  }

  .product {
    width: 50%;
  }


  /* second section */

  .page_list {
    padding-left: 0;
    justify-content: center;
  }

  /* three section */
  .third_section {
    flex-wrap: wrap;
  }

  .plants_blog {
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .blog_picture img {
    margin-top: -75px;
  }

  .our_blog_head {
    font-size: 20px;
  }

  .our_blog_text {
    font-size: 12px;
  }


}

@media (max-width:550px) {
  .protuct_item_text {
    font-size: 14px;
  }

  .product_item_price {
    font-size: 16px;
  }

  .copyrights {
    font-size: 12px;
  }
}

@media (max-width:521px) {
  .blog_info_head {
    font-size: 14px;
  }

  .blog_info_text {
    font-size: 10px;
  }

  .find_more_container i::before {
    font-size: 15px;
  }

  .posts_card {
    width: 100%;
    text-align: center;
  }

  .footer_menu_header {
    font-size: 14px;
  }

  .footer_menu_list {
    font-size: 11px;
  }

  .footer_social h3 {
    font-size: 14px;
  }

  .social_media_list i::before {
    font-size: 15px;
  }
  .social_media_list li{
    margin-right: 10px;
  }

}

@media (max-width:460px) {
  .filter_menu {
    justify-content: center;
  }
.footer_menu{
  margin-right: 10px;
}
}

@media (max-width:430px) {
  .find_more {
    width: 50%;
    font-size: 10px;
    padding: 5px 15px;
  }

  .find_more_container i::before {
    font-size: 15px;
  }

  .newsletter {
    font-size: 16px;
  }

  .input_btn_box ::placeholder {
    font-size: 12px;
  }
} 