body {
  background-color: #FFFFFF;
  margin-top: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto 12px;
}

.btn {
  display: inline-block;
  background-color: #46A358;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #40d45d;
}

.logo {
  width: 150px;
}

.nav {
  width: calc(100% - 260px);
  text-align: center;
}

.list .active {
  font-weight: bold;
  text-decoration:underline;
  text-decoration-color: green;
}

.nav,
.logo,
.login {
  display: inline-block;
  vertical-align: middle;
}

.list {

  list-style: none;
  padding: 0;
  margin: 0;
}

.list a {
  color: #3D3D3D;
  text-decoration: none;
}

.list li {
  display: inline-block;
  margin: 0 15px;

}

.list a:hover {
  color: #46A358;

}

.login {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #46A358;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;

}

.main-section {
  background-color: #f5f5f5;
}

.main {
  display: inline-block;
  width: 88px;
  height: 20px;
  padding: 10px 26px 10px 26px;
  border-radius: 6px;
  background-color: #46A358;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}

.btn-main:hover {
  background-color: rgb(4, 252, 169);
  color: #000000;
}

.into,
.img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 82px;
}


.welcome {
  margin: 0;
  width: 200px;
  font-size: 20px;
  color: #3D3D3D;
}

.head-text {
  font-size: 70px;
  font-weight: 900;

}

.main-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 55px;
}

.mark {
  color: #46A358;
}


.registr-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

.login-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

form {
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.login-p {
  text-align: center;
  margin-top: 40px;
}

.registr-p {
  text-align: center;
  margin-top: 40px;
}


.login-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.registr-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.choice {
  display: flex;
  justify-content: space-around;

}

.sing_with {
  display: inline-block;
  text-align: center;
}