@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  margin-top: 30px;
  font-family: "Cera pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

/* Header style */
.container {
  max-width: 1200px;
  margin: 0 auto 12px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0;
  border-bottom: 0.3px solid #46A35880;
}

.btn {
  display: flex;
  background-color: #46A358;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #40d45d;
}

.logo {
  width: 150px;
}

.nav {
  display: flex;
  justify-content: center;
  /* width: calc(100% - 260px); */
  flex-grow: 1;

}

.list .active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: green;
  pointer-events: none;

}

.list>li:hover {
  text-decoration: underline;
  text-decoration-color: green;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
}

.list_item {
  position: relative;
}

.first_menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 190px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  padding-top: 16px;
  padding-right: 1px;
}

.first_menu li {
  background-color: #EDF6EE;
}

.first_menu a {
  display: block;
  padding: 5px;
}

.first_menu>li:hover .second_menu {
  opacity: 1;
  visibility: visible;
}

.first_menu li:has(.second_menu)::after {
  display: inline-block;
  content: "\203A";
  font-size: 25px;
  line-height: 1;
  position: absolute;
  right: 13px;
  top: 78%;
}

.first_menu li:has(.second_menu):hover::after {
  content: "\2039";
  color: #fff;
  font-size: 25px;
  line-height: 1;
  position: absolute;
  right: 13px;
  top: 78%;
}

.item_menu {
  position: relative;
}


.list_item:hover .first_menu {
  opacity: 1;
  visibility: visible;
}

.second_menu {
  position: absolute;
  list-style: none;
  width: 180px;
  left: 100%;
  top: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  padding-top: 16px;
}

.second_menu li {
  background-color: #EDF6EE;
}

.second_menu li:hover>a {
  background-color: #1A712A;
  color: #FFFFFF;
  font-weight: 700;
}

.list a {
  color: #3D3D3D;
  text-decoration: none;
}

.list a:hover {
  color: #46A358;
}

.bg_item:hover>a {
  font-weight: 700;
  background-color: #1A712A;
  color: #fff;
}

.login {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #46A358;
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px 7px 30px;
}

/* Main style */
.main-section {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.into {
  padding-left: 40px;
  padding-bottom: 85px;
  padding-top: 68px;
}

.main {
  width: 140px;
  padding: 10px 26px 10px 26px;
  border-radius: 6px;
  background-color: #46A358;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}


.welcome {
  margin: 0;
  width: 200px;
  font-size: 14px;
  color: #3D3D3D;
  text-transform: uppercase;

}

.head-text {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 5px;
}

.main-paragraph {
  font-size: 16px;
  color: #727272;
  margin-bottom: 44px;
}

.mark {
  color: #46A358;
}

/* registration - login  style */

.registr-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

.login-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

form {
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.login-p {
  text-align: center;
  margin-top: 40px;
}

.registr-p {
  text-align: center;
  margin-top: 40px;
}


.login-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.registr-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.choice {
  display: flex;
  justify-content: space-around;

}

.sing_with {
  display: inline-block;
  text-align: center;
}

/* float style */
.second_section {
  display: flex;
  justify-content: space-between;
}

.categories_container {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.product_container {
  width: 840px;
}

.filter_menu {
  width: 840px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 38px;

}

.categories_list {
  list-style: none;
  padding: 0;

}

.categories_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
}

.categories_list a:hover {
  color: #40d45d
}

.categories_list .active {
  text-decoration-color: green;
  color: #46A358;
  font-weight: 700;
  pointer-events: none;
}

.filter_list .active {
  text-decoration: underline;
  color: #46A358;
  font-weight: 700;
  pointer-events: none;
}

.filter_list {
  display: flex;
  list-style: none;
  padding: 0;
}

.filter_list li {
  margin-right: 37px;
}

.filter_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.filter_list a:hover {
  color: #40d45d;
}

.select_box {
  display: flex;
}

.select_box select {
  border-color: #FFFFFF;
}

.product-holder {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  gap: 33px;
}

.product {
  position: relative;
  width: 258px;
}

.list_icon {
  display: flex;
  list-style: none;
  gap: 10px;
  position: absolute;
  top: 230px;
  left: 60px;
  display: none;
  padding: 0;
  margin: 0 auto;
}

.list_icon li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: #ffffff;
}

.list_icon li img {
  width: 20px;

}

.product:hover ul {
  display: flex;
}

.procent_discount {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #46A358;
  padding: 5px;
  top: 14px;
  left: 0;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #46A358;
  display: none;
}

.product:hover::after {
  display: block;
}

.product img {
  background: #fbfbfb;
}

.protuct_item_text {
  padding-top: 10px;
  font-size: 16px;
  line-height: 16px;
}

.product_item_price {
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
}

.product_item_price::before {
  content: "$";
}


.page_list {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  list-style: none;

}

.page_list li {
  display: flex;
  color: #3D3D3D;
  font-weight: 300;
  font-size: 18px;
}

.page_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3D3D3D;
}

.page_list a:hover {
  background-color: #40d45d;
  color: #fff;
}

.page_item {

  width: 35px;
  height: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.page_item.active {
  background-color: #46A358;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  pointer-events: none;
}

.sales_picture {
  margin-top: auto;
  max-width: 370px;
}

.sales_link {
  text-decoration: none;
}

/* our post blogs */

.third_section {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}

.plants_blog {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  padding: 37px 35px 47px 0px;
}

.blog_picture {
  width: 35%;
}

.blog_picture img {
  margin-top: -102px;
}

.blog_info {
  text-align: right;
  flex-grow: 1;
  width: 65%;
}

.blog_info_head {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #3D3D3D;
  line-height: 24px;
}

.blog_info_text {
  flex-direction: row-reverse;
  font-size: 14px;
  color: #727272;
  line-height: 24px;
}

.find_more {
  width: 140px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 11px 28px;
}

.find_more span {
  display: flex;
  flex-direction: row-reverse;
}

/* Our blog posts */

.posts_card {
  width: 268px;
}

.posts_card img {
  width: 287px;
}

.card_text {
  width: 242px;
  padding: 0px 9px 11px 12px;
}

.our_blog_header {
  width: 100%;
  text-align: center;
}

.our_blog_head {
  font-size: 30px;
  color: #3D3D3D;
}

.our_blog_text {
  font-size: 14px;
  color: #727272;
}

.read_more {
  color: #3D3D3D;
  text-decoration: none;
}

.read_more::after {
  margin-left: 4px;
  content: "\2192";
}

.post_date {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #46A358;
}

.our_card_head {
  font-size: 20px;
  color: #3D3D3D;
}

.our_card_text {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}

.read_more:hover {
  color: #46A358;
}

.our_blog_container {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.find_more_container {
  display: flex;
  justify-content: flex-end;
}

/* footer */
.footer_box {
  display: flex;
  background: #FBFBFB;
  margin-bottom: 0;
}

.footer_list {
  display: flex;
  list-style: none;
  flex-grow: 1;
  max-width: 846px;

}

.footer_text {
  font-size: 14px;
  color: #727272;
}

.footer_header {
  font-size: 17px;
  color: #3D3D3D;
}

.footer_plant {
  padding-top: 103px;
  padding-right: 30px;
  margin-right: 30px;
  background-size: auto 93px;
  background-repeat: no-repeat;
}

.item1 {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
  background-image: url(../img/footer_plant1.svg);
}

.item2 {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
  background-image: url(../img/footer_plant2.svg);

}

.item3 {
  background-image: url(../img/footer_plant3.svg);
}

.footer_form {
  display: flex;
  width: 345px;
  gap: 18px;
  margin-top: 38px;
  margin-bottom: 24px;
}

.input_btn_box {
  display: flex;
  width: 100%;
}

.input_btn_box input {
  padding: 0;
  background-color: #FFFFFF;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: none;
  padding: 12px 54px 12px 11px;
}

.footer_form label {
  font-weight: 700;
  font-size: 18px;
  color: #3D3D3D;
  line-height: 16px;
}

.newsletter {
  margin-top: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  width: 85px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 25px 10px 27px;
  border: #46A358;
  cursor: pointer;
}

.footer_gradient {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer_gradient a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3D3D3D;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 22px;
}

.footer_gradient a:hover {
  color: #1A712A;
}

.footer_gradient img {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer_gradient address {
  display: flex;
  font-style: normal;
  align-items: center;
  font-size: 14px;
  color: #3D3D3D;
}

.footer_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  background: #FBFBFB;
  border-bottom: 1px solid #46A35833;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer_info {
  display: flex;
  gap: 125px;
}
.footer_menu{
  width: 140px;
}

.footer_menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_menu_header {
  font-size: 18px;
  color: #3D3D3D;
  margin-top: 33px;

}

.footer_menu_list a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #3D3D3D;
  line-height: 30px;
}

.footer_menu_list a:hover {
  text-decoration: underline;
  color: #46A358;
}

.footer_social {
  width: 224px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 49px;
  margin-right: 25px;
}

.copyrights {
  font-size: 14px;
  color: #3D3D3D;
  text-align: center;
}