body {
  background-color: #FFFFFF;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

button {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
}

form {
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

div {
  display: flex;
  justify-content: space-around;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button>span {
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0%;
}

div>span {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;

}

.choice {
  display: flex;
  justify-content: space-evenly;

}

.sing_with {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}