@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera pro";
  src: url(../fonts/CeraPro-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: #FFFFFF;
  margin-top: 30px;
  font-family: "Cera pro", Arial, Helvetica, sans-serif;
}

/* Header style */
.container {
  max-width: 1200px;
  margin: 0 auto 12px;
}

.btn {
  display: inline-block;
  background-color: #46A358;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #40d45d;
}

.logo {
  width: 150px;
}

.nav {
  width: calc(100% - 260px);
  text-align: center;
}

.list .active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: green;
}

.nav,
.logo,
.login {
  display: inline-block;
  vertical-align: middle;
}

.list {

  list-style: none;
  padding: 0;
  margin: 0;
}

.list a {
  color: #3D3D3D;
  text-decoration: none;
}

.list li {
  display: inline-block;
  margin: 0 15px;

}

.list a:hover {
  color: #46A358;

}

.login {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #46A358;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;

}

/* Main style */
.main-section {
  background-color: #f5f5f5;
}

.main {
  display: inline-block;
  width: 88px;
  height: 20px;
  padding: 10px 26px 10px 26px;
  border-radius: 6px;
  background-color: #46A358;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 85px;
  margin-left: 42px;
}

.btn main:hover {
  background-color: rgb(4, 252, 169);
  color: #000000;
}

.into,
.img {
  display: inline-block;
  vertical-align: middle;
}


.welcome {
  display: inline-block;
  margin: 0;
  width: 200px;
  font-size: 14px;
  color: #3D3D3D;
  text-transform: uppercase;
  padding-top: 68px;
}

.head-text {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;

}

.main-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 55px;
}

.mark {
  color: #46A358;
}

.img {
  margin-left: 60px;
}

/* registration - login  style */

.registr-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

.login-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  background-color: #46A358;
  border-radius: 5px;
  margin-top: 41px;
  border-color: #46A358;
  border-style: none;
  padding: 0;
}

form {
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  border-radius: 16px;
  margin-top: 5px;
  height: 40px;
}

input[placeholder] {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.login-p {
  text-align: center;
  margin-top: 40px;
}

.registr-p {
  text-align: center;
  margin-top: 40px;
}


.login-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.registr-span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  color: #46A358;
}

.choice {
  display: flex;
  justify-content: space-around;

}

.sing_with {
  display: inline-block;
  text-align: center;
}

/* float style */
.second_section {
  overflow: hidden;
}

.categories_container {
  float: left;
}

.filter_menu {
  float: right;
}

.categories_list {
  list-style: none;
  padding: 0;
  margin-bottom: 275px;

}

.categories_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.categories_list a:hover {
  color: #40d45d
}

.categories_list .active {
  text-decoration-color: green;
  color: #46A358;
  font-weight: 700;
}

.filter_list .active {
  text-decoration: underline;
  color: #46A358;
  font-weight: 700;
}

.filter_list {
  list-style: none;
  padding: 0;
  margin-right: 350px;
}

.filter_list li {
  display: inline-block;
  margin: 10px 15px;
}

.filter_list a {
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

.filter_list a:hover {
  color: #40d45d;
}

.filter_box {
  float: left;
}

.select_box {
  margin-top: 25px;
  float: right;
}

.select_box p {
  display: inline;
  vertical-align: middle;
}


.protuct_item_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.product_item_price {
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
}

.product_item_price::before {
  content: "$";
}

.number_page {
  display: inline-block;
  vertical-align: bottom;
  width: 215px;
}

.page_list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
}

.page_list li {
  text-align: center;
  display: inline-block;
  color: #3D3D3D;
  font-weight:300;
  font-size: 18px;
}

.page_list a {
  text-decoration: none;
  color: #3D3D3D;
}
.page_list a:hover{
  background-color: #40d45d;
  color: #fff;
}
.page_item{
  display: inline-block;
  width: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
}
.page_item.active{
  background-color: #46A358;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.sales_picture{
  max-width: 310px;
}
.sales_link{
  text-decoration: none;
}
.super_sales{
  color: #46A358;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 11px;
}
.sales_75{
  font-weight: 700;
  font-size: 23px;
  color: #3D3D3D;;
  margin-bottom: 6px;
}